<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930101232549-ehguiqi53mkv0egh0gbho6rqshj4m4bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930101232549-ehguiqi53mkv0egh0gbho6rqshj4m4bk</string>
	<key>API_KEY</key>
	<string>AIzaSyDW-tTnfSOoO3Bk9cL7VeEu-2CPf7KKPzo</string>
	<key>GCM_SENDER_ID</key>
	<string>930101232549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.co.ff.msgattendance</string>
	<key>PROJECT_ID</key>
	<string>msg-attendance-3f2bc</string>
	<key>STORAGE_BUCKET</key>
	<string>msg-attendance-3f2bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930101232549:ios:611e630859abefcb5bde4c</string>
</dict>
</plist>